<div *ngIf="model && !report" class="padding20 white-bg">
  <div class="row">
    <div class="col-12">
        <div class="btn-cont">
            <button (click)="initReport()" class="btn btn-primary pull-left">Response</button>
            <button (click)="addForm()" class="btn btn-primary pull-right" style="margin-left:3px;">Add Form</button>
            <button (click)="updateForm()" class="btn btn-primary pull-right">Update</button>
            <button routerLink="/application/{{model._id}}" class="btn btn-primary pull-right" style="margin-right:3px;">View <i class="fa fa-external-link"></i></button>
          
          </div>
    </div>
  </div>
  <div class="spacer30"></div>
  <div class="row">
    <div class="col-4">

        <div class="row">
        <label class="col-8">Background Color</label>
        <input class="colorpick col-4" type="color" name="bgColor" [(ngModel)]="model.theme.bgColor" >    
        </div>
        <div class="row">
        <label class="col-8">Text Color</label>
        <input class="colorpick col-4" type="color" name="textColor" [(ngModel)]="model.theme.textColor">    
        </div>

      <h4 (click)="test()">Select Fields</h4>
      <p>Customize your form by drag and drop below fields to the form area.</p>
      <!--a draggable element-->
      <div class="fields" *ngFor="let item of fieldModels">
        <div class="field pointer shadow-bg" [dndDraggable]="item"
        [dndEffectAllowed]="'copy'" 
        (dndEnd)="onDragEnd($event)">
          <i [ngClass]="item.icon" class="fa pull-left"></i>
          <h5>{{item.label}}</h5>
        </div>
      </div>

    </div>
    <div class="col-8">

      <!--a dropzone-->
      <!--to allow dropping content that is not [dndDraggable] set dndAllowExternal to true-->
      <div *ngFor="let drop of dropArr" style="margin-top:165px">
        <h2>Template {{drop}}</h2>
        <hr>
        <app-drop-area [indexval]="drop"></app-drop-area>
      </div>

    </div>
  </div>
</div>

 

<div *ngIf="report" class="padding20 white-bg">
    <div class="row">
        <div class="col-12 btn-cont">
            <button (click)="report=false" class="btn btn-primary"><< Back</button>
        </div>
        <div class="col-12 spacer30"></div>
        <!-- if records found -->
        <div  *ngIf="reports?.length > 0" class="col-12">
            <div *ngFor="let records of reports" class="report-block">
                <div *ngFor="let record of records.attributes">
                    <div *ngIf="record.type !='button' && record.type !='paragraph'" class="row">
                     <div class="col-4">{{record.label}}</div>
                        <div class="col-8">{{record.value}}</div>
                    </div>
                </div>
            </div>
            <!-- <pre>{{reports|json}}</pre> -->
        </div> 
        <!-- if no records found -->
        <div *ngIf="reports?.length == 0" class="col-12 btn-cont">
            No response found
        </div>

    </div>

</div>

<!-- <pre *ngIf="model">{{model|json}}</pre> -->


<div *ngIf="model" 
class="container marginT60  marginB30" 
style="max-width:500px;"
>



<pre *ngIf="show==1 && model">
    {{model|json}}
</pre>
